.darkgreen {
  color: darkgreen;
}

.bg-invis, .bg.transparent {
  background-color: transparent;
}

.bg-light {
  background-color: #fff;
}

.bg-lightgrey {
  background-color: #aaa;
}

.bg-midgrey {
  background-color: #888;
}

.bg-dark {
  background-color: #333;
}

.btn-success {
  background-color: #3cb46e;
  color: #fff;
}

.text-dark {
  color: #333;
}

.text-light {
  color: #eee;
}

.text-darkgrey {
  color: #666;
}

.text-midgrey {
  color: #888;
}

.text-lightgrey {
  color: #a2a2a2;
}

.text-success {
  color: #3cb46e;
}

.border {
  border: 1px solid;
}

.border-2 {
  border: 2px solid;
}

.border-light {
  border: 1px solid whitesmoke;
}

.border-grey {
  border: 1px solid grey;
}