* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, p, small {
  line-height: normal;
}

blockquote, .debug {
  font-size: 12px;
  font-weight: normal;
}

blockquote::before,
blockquote::after {
  content: "''";
}

h3 {
  font-weight: bold;
  text-transform: capitalize;
}

strong {
	font-weight: bold;
}

img {
  border: 0;
  width: 100%;
  height: auto;
}

svg {
  pointer-events: none;
}

meter, progress {
  width: auto;
  height: 20px;
  background-color: #000;
  color: #6ca12b;
}

a, a:active {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  cursor: pointer;
}

.home,
.home:hover,
.home:focus {
	text-decoration: none;
}

button {
	display: inline-block;
  border: 1px solid transparent;
	outline: 0;
  cursor: pointer;
}

button.tag {
	margin-left: 4px;
	padding: 4px 6px;
	border: 1px solid transparent;
	background-color: #000;
	color: #fff;
	border-radius: .2rem;
	opacity: 0.7;
	transition: opacity .5s;
}

button.tag:hover,
button.tag:focus {
	border: 1px solid #6ca12b;
	opacity: 1;
}

button[type='submit'] {
	margin-left: 4px;
  border: 1px solid transparent;
  background-color: rgb(32, 167, 43);
  color: #fff;
  border-radius: .2rem;
}

button[type='submit']:focus,
button[type='submit']:hover {
  background-color: rgb(32, 151, 42);
}

.disabled {
  background-color: #666 !important;
  color: #aaa !important;
  cursor: default !important;
}

button.like  {
	display: inline-block;
	height: 32px;
	padding: 0 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;
	transition: all .1s ease-in-out;
}

button.like.active {
	border: 1px solid rgb(172, 26, 172);
}

button.like svg  {
	position: relative;
	width: 15px;
}

button.like svg path {
	fill: #767676;
}

button.like.active svg path {
	fill: rgb(172, 26, 172);
}


form {
  display: block;
}

.search-form {
  position: relative;
  margin: 5px;
  text-align: left;
}

input[type='search'],
input[type='text'] {
  width: 200px;
  margin: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
	padding-left: 30px;
  border: 1px solid transparent;
  color: #333;
	/* transition: width .5s; */
}

/* input[type='search']:focus,
input[type='text']:focus {
	width: 250px;
} */

.icon-external {
	display: none;
	margin: 0px 0px 0px 8px;
	width: 18px;
	height: 18px;
}

.search-box-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  margin-inline-start: 10px;
  -webkit-margin-start: 10px;
  z-index: 1;
}

.container {
  display: block;
  width: 100%;
}

.header, .footer, .faves {
  display: block;
  width: 100%;
  background-color: #000;
}

.sticky-header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.sticky-footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 3;
	opacity: 0.5;
}

.sticky-header-margin {
	margin-top: 70px;
}

.hide {
	display: none;
}

.hidden {
	visibility: hidden;
}

.content {
  display: block;
  width: 100%;
	min-height: 70vh;
}

.title {
  font-weight: bold;
}

.corners {
  border-radius: .2rem;
}

.rounded {
  border-radius: 5%;
}

.circle {
  border-radius: 50%;
}

